<!DOCTYPE html>
<html lang="en">
    {% load static  %}   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bages</title>
    <link rel="stylesheet" href="{%static 'css/bage.css'%}">
</head>
<body>
    <div class="container">
        {% for item,item2 in mylist %}
        <div class="contenu">
<div class="image" style="background-image: url('{{item.imageprofile.url}}');"></div>
<div class="text-center university">{{item.batch}}</div>
<div class="text-center name">{{item.name}}</div>
<div class="image qrcode" style="background-image: url('{{item2}}');" alt='{{root}}+"/university/"+{{item.id}}+"/resume"'></div>
        </div>
        {%endfor%}
    </div>
</body>
</html>
