{% extends 'main/base.html'%}
{% load static  %}
{% block title%} University  {%endblock%}


    {% block content%}
    <section class="u-align-center u-clearfix u-lightbox u-section-2" id="carousel_47e9">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-expanded-width-sm u-expanded-width-xs u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">

                {% for item in ls %}
              
                <div class="u-align-center u-container-style u-list-item u-palette-1-light-2 u-radius-13 u-repeater-item u-shape-round u-list-item-2 bg-dark">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                      <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1000" data-image-height="1500" style="background-image: url('{{item.imageprofile.url}}');"></div>
                      <p class="u-text u-text-body-alt-color u-text-4">{{item.fillier}}</p>
                      <h3 class="u-custom-font u-font-raleway u-text u-text-5" style="color: white;">{{item.name}}</h3>
                      <p class="u-text u-text-6" style="color: white;">{{item.name}} est {{item.batch}} en {{item.fillier}} chez {{item.institution}} </p>
                     <a  class='tag-link'href="{%url 'universitydetail' id=item.id%}"> <button class="btn btn-primary ">View detail</button></a>
                    </div>
                  </div>

                  
                

               
             

              {%endfor%}

              
              
            </div>
          </div>
        </div>
      </section>

   
        <a href="{% url 'universitybages'%}">Show all Bages</a>
    {%endblock%}   
       
