.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 2982px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
}

.u-section-1 .u-image-1 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-2 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-1 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 13px;
}

.u-section-1 .u-image-3 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-5 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-3 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 13px;
}

.u-section-1 .u-image-6 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-8 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-5 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-6 {
  margin: 0 13px;
}

.u-section-1 .u-image-9 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-10 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-11 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-7 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-8 {
  margin: 0 13px;
}

.u-section-1 .u-image-12 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-13 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-14 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-9 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-10 {
  margin: 0 13px;
}

.u-section-1 .u-image-15 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-16 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-6 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-17 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-11 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-12 {
  margin: 0 13px;
}

.u-section-1 .u-image-18 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-19 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-7 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-20 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-13 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-14 {
  margin: 0 13px;
}

.u-section-1 .u-image-21 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-22 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-8 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-23 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-15 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-16 {
  margin: 0 13px;
}

.u-section-1 .u-image-24 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-25 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-9 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-26 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-17 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-18 {
  margin: 0 13px;
}

.u-section-1 .u-image-27 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-28 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-10 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-29 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-19 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-20 {
  margin: 0 13px;
}

.u-section-1 .u-image-30 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-31 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-11 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-32 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-21 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-22 {
  margin: 0 13px;
}

.u-section-1 .u-image-33 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

.u-section-1 .u-image-34 {
  background-image: url("images/GE-min.jpg");
}

.u-section-1 .u-container-layout-12 {
  padding: 0 17px 30px;
}

.u-section-1 .u-image-35 {
  height: 360px;
  margin: 30px auto 0 13px;
}

.u-section-1 .u-text-23 {
  margin: 20px 13px 0;
}

.u-section-1 .u-text-24 {
  margin: 0 13px;
}

.u-section-1 .u-image-36 {
  width: 248px;
  height: 247px;
  margin: 0 auto -41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2459px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-1 .u-image-2 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-14 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-17 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-20 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-23 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-26 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-29 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-32 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-35 {
    height: 291px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 4238px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }

  .u-section-1 .u-image-2 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-23 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-26 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-29 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-32 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-35 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-17 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-20 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-23 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-26 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-29 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-32 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-35 {
    height: 543px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-17 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-20 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-23 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-26 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-29 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-32 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-35 {
    height: 334px;
    margin-right: initial;
    margin-left: initial;
  }
}